<p id="notice"><%= notice %></p> 
<h1><%= @inventory %></h1>

<p>
  <strong>Title:</strong>
  <%= @inventory.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>
